asgiref==3.7.2
backports.zoneinfo==0.2.1
certifi==2023.11.17
charset-normalizer==3.3.2
distlib==0.3.7
Django==4.2.7
filelock==3.13.1
gmail==0.6.3
idna==3.6
Pillow==10.1.0
platformdirs==3.11.0
requests==2.31.0
sqlparse==0.4.4
stripe==7.7.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
vboxapi==1.0
virtualenv==20.24.6
